.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(249,179,0);
}

a {
  color: rgba(0,0,0,.7);
}

.thumbnail:hover {
  filter: brightness(50%);
}

a:hover {
  text-decoration: none;
}

#thumbnail:hover {
  filter: brightness(50%);
}

